* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-image: url('https://images.unsplash.com/photo-1517849845537-4d257902454a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=60');
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

header {
  background-image: linear-gradient(
    to right,
    rgba(17, 70, 135, 0.221),
    rgb(62, 20, 201)
  );
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  


  height: auto;
  width: 80%;
  border: 1px rgb(0, 76, 255) solid;
  border-radius: 80px;
  box-shadow: 0 0 15px 10px #097175;
  margin: 25px;

}



.main-layout {
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:space-between;
  width: 100%;
 


  

  
}

.weather-search{

  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(45, 53, 54) 100%);
  width: auto;
  height: auto;
  padding: 50px;
  margin-left: 30px;
  border-radius: 50px;
  box-shadow: 0 0 15px 10px #3f3a3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  

}
.weather-data{

  width: 70%;
  height: auto;

border-radius: 40px;
background-color: #000;
box-shadow: 0 0 15px 10px #f0ebeb;
color: whitesmoke;
display: flex;
flex-direction: column;

  

  
}

.weather-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px;
  padding: 10px;
  border-radius: 100px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(45, 53, 54) 100%);
  border-radius: 100px;
  box-shadow: 0 0 15px 10px #097175;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  width: 30%;
  height: 320px;
 

}

.weather-input{


  margin: 10px 0px;
 
}

.city-input{
  width: fit-content;
  
  border-radius: 5px;
  border: 1px solid #000;
}





header h1 {
  margin: 30px 0;
  font-size: 50px;
  font-weight: bolder;
}

header h5 {
  font-size: 30px;
}







.footer {
  padding: 5px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
 
  color:rgb(215, 229, 215);
  text-shadow: #000 3px 3px 3px;

}

.footer h2,
a {
  font-size: 40px;
}

.forecast{
  display: flex;
  flex-direction: column;


  



}

.forecast h2{
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 30px;
  text-align: center;
}


.forecast-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 30px;

  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(45, 53, 54) 100%); */
  
  box-shadow: 0 0 15px 10px #b5c80c;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  width: 100%;
  height: auto;
}

.forecast-card
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 100px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(45, 53, 54) 100%);
  border-radius: 100px;
  box-shadow: 0 0 15px 10px #097175;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bolder;
  width: 30%;
  height: 320px;
}







@media screen and (max-width: 500px) {
  header h1 {
    font-size: 30px;
  }

  header h5 {
    font-size: 20px;
  }

  .main-layout {
    flex-direction:column-reverse
    
  }

  .weather-search {
    margin: 10px;
  }

  .weather-detail {
    display: flex;
    flex-direction: column;
    text-shadow: #000 3px 3px 3px;
    font-size: 15px;
   width: 30%;

  
  
   
  }
  .weather-data{
    width: 100%; 
  }

  .list-group li{
    display: flex;
  }
}


